body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

nav{
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    width: 90%;
    margin: auto;
}

nav ul {
    padding-inline-start: 0px!important;
}

nav li{
    display:inline;
}

nav li:hover{
    background-color: orange;
}

body h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

#fire {
    width: 40%;
    display: block;
    margin: 0px auto;
}

header{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: tan; 
    color: brown;
    font-weight: 700;
    font-size: large;
    font-style: oblique;
    text-align: center;
}

#caesar{
    width: 25%;
    max-width: 800px;
}

#steak{
    width: 25%;
    max-width: 800px;
    float: right;
}

#chickenparm{
    width: 29%;
    max-width: 800px;

}

#crabcake{
    width: 29%;
    max-width: 800px;
}

#tables{
    width: 29%;
    max-width: 800px;
    padding-left: 14px;
    padding-bottom: 20px;
}

#burrata{
    width: 29%;
    max-width: 800px;
    float: right;
    padding-right: 20px;
}


#darkmode{
    margin-left: 10px;
}

footer{
    background-color: black;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

    position: relative;
    left: 0; 
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

}

@media only screen and (min-width: 768px){
    body{
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
        color: orange;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    
    nav{
        text-align: center;
        vertical-align: middle;
        font-weight: bolder;
        width: 90%;
        margin: auto;
    }
    
    nav li{
        display:inline;
    }
    
    body h1{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        vertical-align: middle;  
    }
    
    #fire {
        width: 40%;
        display: block;
        margin: 0px auto;
    }
    
    header{
        font-family: Georgia, 'Times New Roman', Times, serif; 
        background-color: tan; 
        color: brown;
        font-weight: 700;
        font-size: large;
        font-style: oblique;
        text-align: center;
    }
    
    #caesar{
        width: 35%;
        max-width: 800px;
    }
    
    #crabcake{
        width: 35%;
        max-width: 800px;
    }
    
    #steak{
        width: 35%;
        max-width: 800px;
    }

    #tables{
        width: 29%;
        max-width: 800px;
        padding-left: 14px;
        padding-bottom: 20px;
    }

    #burrata{
        width: 29%;
        max-width: 800px;
        float: right;
        padding-right: 20px;
    }
    
    #darkmode{
        margin-left: 10px;
    }
    
    footer{
        background-color: black;
        font-weight: 700;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    
        position: relative;
        left: 0; 
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
    }
}


@media only screen and (min-width: 1000px){
    body{
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
        color: orange;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    nav{
        text-align: center;
        vertical-align: middle;
        font-weight: bolder;
        width: 90%;
        margin: auto;
    }
    
    nav li{
        display:inline;
    }
    
    body h1{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        vertical-align: middle;  
    }
    
    #fire {
        width: 40%;
        display: block;
        margin: 0px auto;
    }
    
    header{
        font-family: Georgia, 'Times New Roman', Times, serif; 
        background-color: tan; 
        color: brown;
        font-weight: 700;
        font-size: large;
        font-style: oblique;
        text-align: center;
    }
    
    #caesar{
        width: 35%;
        max-width: 800px;
    }
    
    #crabcake{
        width: 35%;
        max-width: 800px;
        padding-left: 10px;
    }
    
    #steak{
        width: 35%;
        max-width: 800px;
    }

    #tables{
        width: 29%;
        max-width: 800px;
        padding-left: 14px;
        padding-bottom: 20px;
    }

    #burrata{
        width: 29%;
        max-width: 800px;
        float: right;
        padding-right: 20px;
    }
    
    #darkmode{
        margin-left: 10px;
    }
    
    footer{
        background-color: black;
        font-weight: 700;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    
        position: relative; 
        bottom: 0;
        width: 100%;
        color: white;
        vertical-align: middle;
    }
}